*                                       @Mi-no-Kim
/src/main/java/                         @aspomn-sub
/src/test/                              @aspomn-sub @wight3856
*.yml                                   @wight3856
*.yaml                                  @wight3856
/src/main/resources/                    @aspomn-sub
config[1-9].yml                         @aspomn-sub