*                                       @Mi-no-Kim
/src/main/java/                         @aspomn-sub
/src/test/                              @aspomn-sub @wight3856
/src/main/resources/                    @aspomn-sub
*.yml                                   @wight3856